h1,
h2,
h3,
h4,
p,
li{
    font-family: sans-serif;
    color: rgb(35, 34, 34);
}
h1,h2,h3{
    color: darkcyan;
}
h1{
font-size: 28px;
font-family:sans-serif;
text-transform:uppercase;
font-style:italic;
font-weight: bold;
}
h2{
font-size: 40px;
font-family: sans-serif;
}
h3{
font-size:30px;
}
h4{
    font-size: 20px;
    text-transform:uppercase;
    text-align: center;
}
p{
    font-size: 20px;
    line-height:1.5;
}
.related-post-author{
    font-size: 20px;
}
